body {
    font-family: sans-serif;
}

div#wrapper {
    width: 100%;
    height: 400px;
    overflow: scroll;
    border: 2px inset;
}

#table {
    display: table;
}

#title {
    font-size: large;
    width: 60%;
}

fieldset#damage {
	padding-right: 20px;
}

input[type="checkbox"] {
	margin: 0 0 0 20px;
}

.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
}
